# Ignore everything
*

# Now, whitelist anything that's a directory
!*/

# whitelist notebooks
!*.ipynb
!**.png

# blacklist checkpoints
*checkpoint*

# whitelist scripts
!scripts/*

# Whitelist root files
!.gitignore
!.travis.yml
!conftest.py
!README.md
!LICENSE.txt
